<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1><%= title %></h1>

    

    <ul>
        <li><button><a href="/category/add">ADD</a></button></li>

        <% categories.forEach((cat)=>{ %>
            <li>
                
            <%= cat.name %> 
            <button><a href="/category/<%=cat.id%>/items">View</a></button>
            <button><a href="/category/update/<%=cat.id%>">UPDATE</a></button> 
            <form action="/category/delete/<%=cat.id%>" method="POST" style="display: inline;"><button>Delete</button></form>

            

            </li>
        <%})%>
    </ul>

    <button><a href="/">Home</a></button>
    
</body>
</html>